# Virtual environment
venv/
*.env

# Python bytecode
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# IDE settings
.vscode/
.idea/

# Deployment files
build.sh

# Miscellaneous
*.log
*.pot
